.col-md-10.col-md-offset-1
    .panel
        .panel-body
            .row.rowfix
                .col-md-3.col-extend{:style=>"border-right: 1px solid #777"}
                    = yield(:left)
                .col-md-9.col-extend
                    = yield(:right)
