.col-md-10.col-md-offset-1
    .panel
        .panel-body
            .row
                .col-md-3{:style=>"border-right: 1px solid #777"}
                    = yield(:left)
                .col-md-9
                    = yield(:right)
