- content_for(:rest) do
    %p
        or
        %a{:href=>"/login"} Sign in
        to an existing account

- content_for(:text) do
    %p
        Welcome to Project Sabertooth; the place where a nifty slogan isn't the only thing we
        need!
    %a.btn.btn-primary.btn-lg{:role=>"button",:href=>new_login_path} Sign Up

= render :partial => "shared/content", :locals => { :title => "Project Sabertooth" }
