.col-md-10.col-md-offset-1
    .container-body.jumbotron
        .jumbotron
            %h1 Project SaberTooth
            %p Welcome to Project SaberTooth
            %p
                %a.btn.btn-primary.btn-lg{:role=>"button",:href=>new_login_path} Sign Up
        %p
            or
            %a{:href=>"/login"} Sign in
            to an existing account
