- @active_tab = "LogIn"
- content_for(:rest) do
    %a.btn.btn-primary.btn{:role=>"button",:href=>home_index_path} Go To Your Home

- content_for(:text) do
    - if @create_successful
        %p Your account has been created!
    - else
        %p Failed to create account!

= render :partial => "shared/content", :locals => { :title => @title }
