- @active_tab = "LogIn"
- content_for(:rest)

- content_for(:text) do
    - if flash[:error] != nil
        .alert.alert-danger
            =flash[:error]
    Login to access your account!
    %br
    New?
    %a{:href=>new_login_path} Create an account!
    = form_tag login_login_path @user do
        %br
        .form-group
            %input.form-control{:type=>"text", :placeholder=>"Email", :name=>"user[email_address]"}
        .form-group
            %input.form-control{:type=>"password", :placeholder=>"Password", :name=>"user[password]"}
        %button.btn.btn-default{:type=>"submit"} Login

= render :partial => "shared/content", :locals => { :title => "Login" }
