.col-md-6.col-md-offset-3
  .panel.panel-primary
    .panel-heading.panel-title
      %h4 Login
    .panel-body
      Login to access your account!
      .form-signin
        %br
        .form-group
          %input.form-control{:type=>"text", :placeholder=>"Username"}
          %input.form-control{:type=>"password", :placeholder=>"Password"}
        %button.btn.btn-default{:type=>"submit"} Login
