- content_for(:text) do
    = form_tag login_index_path do
        .panel
            .col-md-6
                %br
                .form-group
                    %input.form-control{:type=>"text", :placeholder=>"Display Name", :name=>"user[displayName]"}
                .form-group
                    %input.form-control{:type=>"text", :placeholder=>"Email Address", :name=>"user[email]"}
                .form-group
                    %input.form-control{:type=>"password", :placeholder=>"Password", :name=>"user[password]"}
                .form-group
                    %input.form-control{:type=>"password", :placeholder=>"Confirm Password", :name=>"user[password_confirmation]"}

                .btn-group#pricing
                    %button.btn.btn-default{:type=>"button"} Free
                    %button.btn.btn-default{:type=>"button"} Hobbyist
                    %button.btn.btn-default{:type=>"button"} Professional
                    %button.btn.btn-default{:type=>"button"} Enterprise

                .input-group
                    %span.input-group-addon
                        %input{:type=>"checkbox"}
                    %span.input-group-addon I accept Project Sabertooth's Terms and Conditions.

            .col-md-6
                %table.table.table-striped.table-bordered
                    %tr
                        %th{:width=>"25%"} Account type
                        %th{:width=>"75%"} Benefits
                        %th{:width=>"25%"} Cost (Monthly)
                    %tr
                        %td Free
                        %td
                            Put details here!
                        %td $0.00
                    %tr
                        %td Hobbyist
                        %td
                            Put details here!
                        %td $2.99
                    %tr
                        %td Professional
                        %td
                            Put details here!
                        %td $9.99
                    %tr
                        %td Enterprise
                        %td
                            Put details here!
                        %td $19.99

        .col-md-offset-2
            %button.btn.btn-default{:type=>"submit"} Create Account


= render :partial => "shared/content", :locals => { :title => "Create A New Account" }
