- @active_tab = "AboutSaberTooth"
- content_for(:rest) do
    %a.btn.btn-primary.btn-lg{:role=>"button",:href=>new_login_path} Get Started Now

- content_for(:text) do
    %p
        Project SaberTooth is a humble project designed to allow
        you to collaboratively work with other people on your own
        projects in real time

= render :partial => "shared/content", :locals => { :title => "About Sabertooth" }


