.col-md-10.col-md-offset-1
    .container-body.jumbotron
        .jumbotron
            %h1 About Project SaberTooth
            %p
                Project SaberTooth is a humble project designed to allow
                you to collaboratively work with other people on your own
                projects in real time

        %a.btn.btn-primary.btn-lg{:role=>"button",:href=>new_login_path} Get Started Now


