- @active_tab = "LogIn"

- content_for(:left) do
    - @documents.each do |doc|
        %a{:href=>document_path(doc)}
            = doc.name
        %br

- content_for(:right) do
    %textarea.form-control{:rows=>20}
        =@current_doc[:content]
        

= render :partial => "shared/large_format"
